.hero-section{
    background-color: orange;
    min-height: 100vh;
    background-image: url(/Assets/BgImage.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    background-position: right;
    padding-left: 100px;

}
.hero-section>img{
    height: 1500px;
    width: 1300px;
    margin-left: 190rem;
    display: inline-block;
}

.hero-section>div{
    margin: auto;
    margin-top: 10px;
    /* height: 500px; */
    width: 1000px;
    background-color: wheat;
}
/* 
.hero-section >div>h1{
    text-align: center;
    color: white;
    font-size: 10rem;
} */
